.display3 {
    font-size: 50px;
}

nav .navbar-brand {
    font-size: 175px;
    color: white;
}

.btn-primary {
    font-size: 100px;
}

section .lead {
    font-size: 30px;
}

#header {
    background: url("../ASSESTS/IMAGES/headerEdit1.jpg");
    background-size: cover;
    opacity: 0.6;
    background-attachment: scroll;
}

@media screen and (max-width: 720px) {
    .navbar-brand {
        visibility: hidden;
    }
    .logo {
        visibility: visible;
        float: center;
        overflow: auto;
    }
}