.display3 {
    font-size: 50px;
}

nav .navbar-brand {
    font-size: 175px;
    color: white;
}

.btn-primary {
    font-size: 100px;
}

section .lead {
    font-size: 30px;
}

@media screen and (max-width: 720px) {
    .navbar-brand {
        visibility: hidden;
    }
    .logo {
        visibility: visible;
        float: center;
    }
}